<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="SDK Licence Suite">
    <test name="SDK Licence Tests">
        <classes>
            <class name="Origin.SDKLicence.LicenceManagement"/>
            <!-- Add more classes if you have additional test classes -->
        </classes>
    </test>
</suite>
